Function Practice Exercises - Level 2:

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [33]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        else:
            pass
    return False
#         i += 1

In [30]:
has_33([3,3,1])

[3, 3, 1] 0

True

In [34]:
has_33([1,3,3])

[1, 3, 3] 0
[1, 3, 3] 1

True

In [35]:
has_33([1,1,1])

[1, 1, 1] 0
[1, 1, 1] 1

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [37]:
print('i'*3)

iii

In [46]:
def paperdoll(words):
    new_name=""
    for i in range(len(words)):
        new_name = new_name + "".join(words[i]*3)
    print(new_name)

In [48]:
paperdoll("abc")

aaabbbccc

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [80]:
def blackjack(*args):
    sum = 0
    for i in args:
           sum += i
    if sum < 21:
           return sum
    else:
        if args[0] == 11 or args[1] == 11 or args[2] == 11:
            sum -= 10
            if sum < 21:
                return sum
            else:
                return 'BUST'
        else:
            return 'BUST'

In [84]:
blackjack(9,11,11)

'BUST'

In [85]:
blackjack(5,6,7)

18

In [86]:
blackjack(9,9,9)

'BUST'

In [87]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no number

In [98]:
def summer_69(nums):
    sum = 0
    for i in nums:
        if i >= 6 and i <= 9:
            sum += 0
        else:
            sum += i
    return sum

In [89]:
summer_69([1, 3, 5])

9

In [102]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [99]:
summer_69([2, 1, 6, 9, 11])

14